### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/.gitignore
/CommandExecutor.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/target/classes/ru/voidlol/ce/command/service/algorithm/Algorithm.class
/target/classes/ru/voidlol/ce/enums/Algorithm.class
/target/classes/ru/voidlol/ce/enums/AlgorithmType.class
/target/classes/App.class
/target/classes/ru/voidlol/ce/config/AppConfig.class
/target/classes/ru/voidlol/ce/command/domain/Command.class
/target/classes/ru/voidlol/ce/command/service/executor/CommandExecutor.class
/target/classes/ru/voidlol/ce/parser/parser/CommandParser.class
/target/classes/ru/voidlol/ce/command/dto/CommandResult.class
/target/classes/ru/voidlol/ce/enums/CommandType.class
/.idea/compiler.xml
/target/classes/ru/voidlol/ce/input/ConsoleInputService.class
/target/classes/ru/voidlol/ce/output/ConsoleOutputService.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/ru/voidlol/ce/data/CSVParser.class
/target/classes/ru/voidlol/ce/data/CurrencyParser.class
/target/classes/ru/voidlol/ce/data/domain/CurrencyRate.class
/target/classes/ru/voidlol/ce/data/repository/CurrencyRepository.class
/target/classes/ru/voidlol/ce/enums/CurrencyType.class
/.idea/encodings.xml
/target/classes/ru/voidlol/ce/engine/Engine.class
/target/classes/ru/voidlol/ce/enums/Error.class
/target/classes/ru/voidlol/ce/command/service/ExecutorService.class
/target/classes/ru/voidlol/ce/command/service/ExecutorServiceImpl.class
/target/classes/ru/voidlol/ce/command/domain/ExitCommand.class
/target/classes/ru/voidlol/ce/command/service/executor/ExitCommandExecutor.class
/target/classes/ru/voidlol/ce/parser/parser/ExitCommandParser.class
/target/classes/ru/voidlol/ce/command/dto/Forecast.class
/target/classes/ru/voidlol/ce/data/repository/InMemoryCurrencyRepository.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/ru/voidlol/ce/input/InputService.class
/.idea/jarRepositories.xml
/target/classes/ru/voidlol/ce/command/service/algorithm/LinearAlgorithm.class
/target/classes/Main.class
/target/classes/ru/voidlol/ce/enums/Message.class
/target/classes/ru/voidlol/ce/output/dto/OutputMessageDto.class
/target/classes/ru/voidlol/ce/output/OutputService.class
/target/classes/ru/voidlol/ce/parser/ParserService.class
/target/classes/ru/voidlol/ce/parser/ParserServiceImpl.class
/target/classes/ru/voidlol/ce/parser/parser/dto/PartValidationDto.class
/target/classes/ru/voidlol/ce/command/domain/RateCommand.class
/target/classes/ru/voidlol/ce/command/service/executor/RateCommandExecutor.class
/target/classes/ru/voidlol/ce/parser/parser/RateCommandParser.class
/target/classes/ru/voidlol/ce/command/service/algorithm/StraightAlgorithm.class
/target/classes/ru/voidlol/ce/enums/TargetDate.class
/src/main/resources/USD_01_07_2023_T01_02_2024.csv
/target/classes/main/resources/USD_01_07_2023_T01_02_2024.csv
/target/classes/USD_01_07_2023_T01_02_2024.csv
